<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bf_estilo.css}" />
    <title>Bluefood</title>
</head>

<body>
    <header>
        <a th:href="@{/}">
            <img th:src="@{/images/bf_logotipoSistema.png}" alt="Logo tipo Bluefood" />
        </a>
    </header>
    <!--FIM-CABEÇALHO-->
    
    <!-- CONTEUDO -->
    <div layout:fragment="content"></div>
    
	<!-- FIM RODAPÉ -->
    <br /><br />
</body>

</html>